<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title 4 Screen
    body
          .screen
            .screen__top
                .screen__top1 
                .screen__top2 

            .screen__main
                .screen__main1 
                .screen__main2 
                