<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title 4 Screen
    body
        main.main
            .main__1
                .main__1-1
            .main__2 main2
            .main__3 main3
            .main__4 main4