@import "./reset.css";

body {
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
.screen .screen__top {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}
.screen .screen__top .screen__top1 {
  width: 55%;
  height: 100%;

  background-color: #74b9ff;
}
.screen .screen__top .screen__top2 {
  width: 50%;
  height: 100%;

  background-color: #0984e3;
}
.screen .screen__main {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
}
.screen .screen__main .screen__main1 {
  width: 55%;
  height: 100%;

  background-color: #6a89cc;
}
.screen .screen__main .screen__main2 {
  width: 50%;
  height: 100%;

  background-color: #4a69bd;
}
